{% extends 'base.html' %}

{% block content %}
<div class="mt-2 d-flex justify-content-between align-items-center">
    <h1 class="d-inline">블로그 목록</h1>
    <a href="{% url 'blog:create' %}" class="btn btn-sm btn-primary">생성</a>
</div>

<hr>

{% for blog in object_list %}
<div class="my-1">
    <a href="{% url 'blog:detail' blog.pk %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover row align-items-center">
        {% if blog.get_thumbnail_url %}
            <img src="{{ blog.get_thumbnail_url }}" alt="블로그 이미지" class="col-2" style="max-height:80px; object-fit:cover;">
        {% endif %}
        <span class="col-10">
            [{{ blog.get_category_display }}] {{ blog.title }} - <small>{{ blog.created_at|date:"Y-m-d" }}</small>
        </span>
    </a>
</div>
{% endfor %}

<form method="get" class="my-3 d-flex">
    <input class="form-control-sm" name="q" type="text" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
    <button class="btn btn-sm btn-info ms-2">검색</button>
</form>

<div>
<ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; 첫번째</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">이전</a>
        </li>
    {% endif %}

    {% if page_obj.number|add:-2 > 1 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.number|add:-3 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
        </li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item"><a class="page-link active" href="#">{{ i }}</a></li>
        {% elif i > page_obj.number|add:-3 and i < page_obj.number|add:3 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page_obj.paginator.num_pages > page_obj.number|add:2 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.number|add:3 }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&hellip;</a>
        </li>
    {% endif %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">다음</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">마지막 &raquo;</a>
        </li>
    {% endif %}
</ul>
</div>
{% endblock %}


